REACT_APP_API_URL = "https://vapi.vnappmob.com/api/v2/gold"
REACT_APP_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NjE5MjIwNjcsImlhdCI6MTc2MDYyNjA2Nywic2NvcGUiOiJnb2xkIiwicGVybWlzc2lvbiI6MH0.b8sPNog6p9XymEuvch699bi-3E8XKl3I4tV8_1Y-ZWc"
